body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}

form input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.botao{

    border: solid 5px green;
    border-radius: 5px;
    color: white;
    background-color: green;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    align-items: center;
    width: 25%;
}
.botao:hover{
    background-color: green;
    color: white;
    transform: scale(1.1)
    
}
body {
    font-family: Arial, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.botao {
    background-color: hsl(128, 100%, 36%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
